<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="Server" connectionString="localhost"/>
		<add name ="Port" connectionString="5432"/>
		<add name ="User" connectionString="postgres"/>
		<add name ="Password" connectionString="1234"/>
		<add name ="Database" connectionString="new_db"/>
	</connectionStrings>
</configuration>